@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <a asp-action="RegistroEmpleado">Registrar empleado</a>
    <p><a asp-action="ListadoEmpleados">Listado Empleados</a></p>
</div>
