@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Regreso a clases presenciales</h1>
    <p>Contesta una encuesta para saber si estas en condiciones de regresar a clases presenciales</p>
    <a asp-action="Encuesta" method="get">Ir a la encuesta</a>
</div>
